<template>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <v-card>
      <v-card-text>
        {{ text }}
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          @click="doAccept"
        >
          I accept
        </v-btn>
        <v-btn
          color="blue-grey"
          @click="doCancel"
        >
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'Dialog',
  props: {
    text: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      dialog: false,
      resolve: null,
      reject: null
    }
  },
  methods: {
    doAccept () {
      // I acceptボタンを押下すると、Promiseでresolveを返す
      this.resolve(true)
      this.dialog = false
    },
    doCancel () {
      // Cancelボタンを押下すると、Promiseでrejectを返す
      this.resolve(false)
      this.dialog = false
    },
    askConfirm () {
      this.dialog = true
      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    }
  }
}
</script>

<style scoped>
div.v-card.v-sheet.theme--light {
  padding: 1em;
}
</style>
