<template>
  <v-footer
    padless
    fixed
  >
    <v-card
      flat
      tile
      color="light-blue darken-4"
      width="100%"
      class="footer-card blue-grey lighten-3 text-center"
    >
      <v-card-text>
        <v-btn
          v-for="(icon, i) in icons"
          :key="i"
          :to="icon.to"
          class="mx-4"
          icon
        >
          <v-icon
            size="24px"
            color="white"
          >
            {{ icon.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>
      <v-divider />
      <v-card-text
        class="py-2 white--text text-center"
      >
        {{ new Date().getFullYear() }} — <strong>TripPlan</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data () {
    return {
      icons: [
        {
          icon: 'mdi-airplane',
          to: 'serch'
        },
        {
          icon: 'mdi-home',
          to: 'entry'
        },
        {
          icon: 'mdi-briefcase',
          to: 'Account'
        }
      ]
    }
  }
}
</script>
