<template>
  <v-app-bar
    app
    color="light-blue darken-4"
    dark
    hide-on-scroll
    class="menu-mask"
    @click.self="toggleOpen"
  >
    <v-toolbar-title>ようこそ、{{ username }} さん</v-toolbar-title>
    <v-spacer />
    <button
      class="menu-toggle"
      :class="{ open: isOpen }"
      @click="toggleOpen"
    >
      <span class="humberger">
        ≡
      </span>
      <span class="humberger-close">
        ×
      </span>
      <span class="humberger-menu-text">
        MENU
      </span>
      <span class="humberger-close-text">
        CLOSE
      </span>
    </button>
    <div
      class="menu"
      :class="{ open: isOpen }"
      :isOpen="isOpen"
    >
      <ul>
        <li><a href="/entry">Entry</a></li>
        <li><a href="/serch">Search</a></li>
        <li><a href="/trip">Trip</a></li>
      </ul>
    </div>
  </v-app-bar>
</template>

<script>
import { Auth } from 'aws-amplify'
import { AmplifyEventBus } from 'aws-amplify-vue'

export default {
  name: 'Header',
  props: {
    username: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  mounted () {
    this.username = this.username
  },
  methods: {
    /* MENU，CLOSEボタンを押下時のクラス名変更処理 */
    toggleOpen () {
      if (this.isOpen === false) {
        this.isOpen = true
      } else {
        this.isOpen = false
      }
      this.$emit('toggleChange', this.isOpen)
    },
    // サインアウト処理
    signout () {
      return Auth.signOut().then(data => {
        AmplifyEventBus.$emit('authState', 'signedOut')
        return data
      }).catch(err => {
        console.log(err)
        return err
      })
    }
  }
}
</script>

<style scoped>
/* MENUのデザイン */
.menu {
  position: absolute;
  right: -510px;
  width: 500px;
  height: 300px;
  bottom: -300px;
  background-color: white;
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.6);
  transition: all 0.3s;
  z-index: 999;
}
/* MENUのオープン時の項目デザイン */
.menu.open ul {
  padding: 0;
  font-size: 2em;
  position: relative;
}
.menu.open ul li, li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}
/* MENUの閉じてるときも同様のデザイン */
.menu ul {
  padding: 0;
  font-size: 2em;
  position: relative;
}
.menu ul li {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}
.menu.open {
  right: 0;
}
/* MENUボタンのデザイン */
.menu-toggle {
  font-weight: bold;
  height: 48px;
  width: 48px;
  z-index: 888;
}
/* MENUボタンのホバーデザイン */
.menu-toggle:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
/* MENUボタンのフォーカスデザイン */
.menu-toggle:focus {
  outline:0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
/* ハンバーガーのデザイン */
.humberger {
  display: block;
  font-size: 3.5em;
  margin-top: -0.5em;
  z-index: 777;
}
.menu-toggle.open .humberger-close {
  display: block;
  font-size: 2.5em;
  margin-top: -0.3em;
  z-index: 666;
}
/* MENU文字のデザイン */
.humberger-menu-text {
  display: block;
  font-size: 0.7em;
  margin-top: -2.3em;
  z-index: 555;
}
.menu-toggle.open .humberger-close-text {
  display: block;
  font-size: 0.7em;
  margin-top: -1.5em;
  z-index: 333;
}
.humberger-close,
.humberger-close-text,
.menu-toggle.open .humberger,
.menu-toggle.open .humberger-menu-text {
  display: none;
}
</style>
