<template>
  <div>
    <v-carousel
      cycle
      height="500"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item
        v-for="(slide, i) in slides"
        :key="i"
      >
        <v-sheet
          :color="colors[i]"
          height="100%"
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
            <div class="display-3">
              {{ slide }} Slide
            </div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <v-card>
      <v-expansion-panels>
        <!--１つ目のパネル-->
        <v-expansion-panel>
          <v-expansion-panel-header>
            Let's Triplan!
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div>
              Suggest trip plans for you!
            </div>
            <div>
              <v-btn
                small
                color="yellow darken-4"
                text
                to="/serch"
              >
                TRY!
              </v-btn>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!--２つ目のパネル-->
        <v-expansion-panel>
          <v-expansion-panel-header>
            Coming soon!
          </v-expansion-panel-header>
          <v-expansion-panel-content />
        </v-expansion-panel>
        <!--３つ目のパネル-->
        <v-expansion-panel>
          <v-expansion-panel-header>
            Logout
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div>
              <amplify-sign-out />
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </div>
</template>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<script>
export default {
  data () {
    return {
      loader: null,
      loading: false,
      loading2: false,
      loading3: false,
      loading4: false,
      loading5: false,
      length: 3,
      onboarding: 0,
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4'
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth'
      ]
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    }
  },

  methods: {
    next () {
      this.onboarding = this.onboarding + 1 === this.length
        ? 0
        : this.onboarding + 1
    },
    prev () {
      this.onboarding = this.onboarding - 1 < 0
        ? this.length - 1
        : this.onboarding - 1
    }
  }

}
</script>
