<template>
  <v-stepper
    v-model="e6"
    vertical
  >
    <!--１つ目のステップ-->
    <v-stepper-step
      :complete="e6 > 1"
      step="1"
    >
      Attribute
    </v-stepper-step>
    <v-stepper-content
      step="1"
      editable
    >
      <v-card
        text
        class="mb-12"
        max-height="400px"
        flat
      >
        <v-card-text>Select the attribute.</v-card-text>
        <v-card-text>
          <!--性別-->
          <span class="subheading">Your Sex</span>
          <v-radio-group
            v-model="selection_sex"
            :mandatory="false"
            row
          >
            <v-radio
              label="Men"
              value="0"
              color="deep-purple accent-4"
            />
            <v-radio
              label="Women"
              value="1"
              color="deep-purple accent-4"
            />
          </v-radio-group>
          <!--年齢-->
          <span class="subheading">Your Birthday</span>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="birthdate"
                label="Birthday date"
                prepend-inner-icon="mdi-calendar"
                readonly
                v-on="on"
              />
            </template>
            <v-date-picker
              ref="picker"
              v-model="birthdate"
              :max="new Date().toISOString().substr(0, 10)"
              min="1950-01-01"
              @change="save"
            />
          </v-menu>
          <!--住んでいる場所-->
          <span class="subheading">Your Place</span>
          <v-combobox
            ref="place_japan"
            v-model="place_japan"
            :rules="[() => !!place_japan || 'This field is required']"
            :items="placegroup_japan"
            placeholder="Select..."
            required
            clearable
            prepend-inner-icon="mdi-map-marker"
          />
        </v-card-text>
      </v-card>
      <v-btn
        color="primary"
        :disabled="firstValid"
        @click="e6 = 2"
      >
        Next
      </v-btn>
      <CancelDialog />
    </v-stepper-content>
    <!--2つ目のステップ-->
    <v-stepper-step
      :complete="e6 > 2"
      step="2"
    >
      Location
    </v-stepper-step>
    <v-stepper-content step="2">
      <v-card
        text
        class="mb-12"
        max-height="400px"
        flat
      >
        <v-card-text>Select the place.</v-card-text>
        <v-card-text>
          <v-autocomplete
            ref="country"
            v-model="country"
            prepend-inner-icon="mdi-map-marker"
            :rules="[() => !!country || 'This field is required']"
            :items="countries"
            placeholder="Select..."
            required
            clearable
          />
        </v-card-text>
      </v-card>
      <v-btn
        color="primary"
        :disabled="secondValid"
        @click="e6 = 3"
      >
        Next
      </v-btn>
      <CancelDialog />
    </v-stepper-content>
    <!--3つ目のステップ-->
    <v-stepper-step
      :complete="e6 > 3"
      step="3"
    >
      Members
    </v-stepper-step>
    <v-stepper-content step="3">
      <v-card
        text
        class="mb-12"
        max-height="400px"
        flat
      >
        <v-card-text>Select the member.</v-card-text>
        <v-combobox
          ref="member"
          v-model="member"
          :rules="[() => !!member || 'This field is required']"
          :items="members"
          placeholder="Select..."
          multiple
          chips
          small-chips
          deletable-chips
          clearable
          prepend-inner-icon="mdi-account-multiple-plus"
        />
      </v-card>
      <v-btn
        color="primary"
        :disabled="thirdValid"
        @click="e6 = 4"
      >
        Next
      </v-btn>
      <v-btn
        text
        @click="e6 = 1"
      >
        Prev
      </v-btn>
    </v-stepper-content>
    <!--4つ目のステップ-->
    <v-stepper-step
      :complete="e6 > 4"
      step="4"
    >
      Purpose
    </v-stepper-step>
    <v-stepper-content step="4">
      <v-card
        text
        class="mb-12"
        max-height="400px"
        flat
      >
        <v-card-text>Select the purpose.</v-card-text>
        <v-card-text>
          <v-chip-group
            v-model="selection"
            active-class="deep-purple accent-4 white--text"
            column
          >
            <v-chip>5:30PM</v-chip>
            <v-chip>7:30PM</v-chip>
            <v-chip>8:00PM</v-chip>
            <v-chip>9:00PM</v-chip>
          </v-chip-group>
        </v-card-text>
      </v-card>
      <v-btn
        color="primary"
        :disabled="forthValid"
        @click="e6 = 5"
      >
        Next
      </v-btn>
      <v-btn
        text
        @click="e6 = 2"
      >
        Prev
      </v-btn>
    </v-stepper-content>
    <!--5つ目のステップ-->
    <v-stepper-step
      step="5"
      editable
    >
      Complete!
    </v-stepper-step>
    <v-stepper-content step="5">
      <v-card
        text
        class="mb-12"
        max-height="400px"
        flat
      >
        <v-card-text>Let's take a look at the plans for you.</v-card-text>
      </v-card>
      <v-btn
        color="yellow darken-4"
        weight="150px"
        text
        to="/trip"
        @click="next"
      >
        Go Plan!
      </v-btn>
      <v-btn
        text
        @click="e6 = 3"
      >
        Prev
      </v-btn>
    </v-stepper-content>
  </v-stepper>
</template>

<script>
import CancelDialog from './components/CancelDialog'

export default {
  components: {
    CancelDialog
  },
  data () {
    return {
      e6: 1,
      dialog: false,
      countries: ['Asakusa', 'Ginza', 'Tokyo'],
      country: null,
      members: ['Akihiro Kakuta', 'Akinaga Toyomoto', 'Satoshi Iizuka', 'AAAAA', 'BBBBB', 'CCCCC', 'DDDDD', 'FFFFF'],
      member: null,
      placegroup_japan: ['Tokyo', 'Chiba', '東京', '千葉'],
      place_japan: null,
      // purposes: ['ゆっくり','普通','早く'],
      // purpose: null,
      selection_age: null,
      selection_sex: null,
      selection_place: null,
      birthdate: null,
      selection: null,
      menu: false
    }
  },
  computed: {
    form () {
      return {
        country: this.country,
        member: this.member,
        purpose: this.purpose
      }
    },
    /**
     * １つ目〜５つ目のステップでのNextボタンのバリデーション処理
     * 項目を入力しなければ非活性のまま
     */
    firstValid () {
      if (!this.selection_sex) {
        return true
      }
      if (!this.birthdate) {
        return true
      }
      if (!this.place_japan) {
        return true
      } else {
        return false
      }
    },
    secondValid () {
      if (!this.country) {
        return true
      } else {
        return false
      }
    },
    thirdValid () {
      if (!this.member) {
        return true
      } else {
        return false
      }
    },
    forthValid () {
      if (!this.selection) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  methods: {
    save (birthdate) {
      this.$refs.menu.save(birthdate)
    },
    next () {}
  }
}
</script>
