<template>
  <div v-if="isVisible">
    <v-timeline :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        color="green lighten-1"
        fill-dot
        icon="mdi-map-marker"
      >
        <v-card>
          <v-card-title>
            Sensoji Temple
          </v-card-title>
          <v-card-text>
            2 minute walk from Asakusa Station
          </v-card-text>
          <v-card-actions>
            <v-btn
              text
            >
              EDIT
            </v-btn>
            <v-btn
              text
              color="purple"
            >
              CHANGE
            </v-btn>
            <v-spacer />
            <v-btn
              icon
              @click="show_01 = !show_01"
            >
              <v-icon>{{ show_01 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="show_01">
              <v-divider />
              <v-img
                src="https://live.staticflickr.com/756/33242345865_8feba2ebd7_b.jpg"
                height="200px"
              />
              <v-btn
                icon
                fab
                color="indigo"
              >
                <v-icon>mdi-google-glass</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="pink"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="teal"
              >
                <v-icon>mdi-google-maps</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="orange"
              >
                <v-icon>mdi-food</v-icon>
              </v-btn>
              <v-card-text>
                I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-timeline-item>
      <v-timeline-item
        color="cyan lighten-1"
        fill-dot
        icon="mdi-airballoon"
      >
        <v-card>
          <v-card-title>
            Ebisuya
          </v-card-title>
          <v-card-text>
            2 minute walk from Asakusa Station
          </v-card-text>
          <v-card-actions>
            <v-btn
              text
            >
              EDIT
            </v-btn>
            <v-btn
              text
              color="purple"
            >
              CHANGE
            </v-btn>
            <v-spacer />
            <v-btn
              icon
              @click="show_02 = !show_02"
            >
              <v-icon>{{ show_02 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="show_02">
              <v-divider />
              <v-img
                src="http://ebisuya.com/wordpress/wp-content/themes/ebisuya2014/common/img/img_detail01.png"
                height="200px"
              />
              <v-btn
                icon
                fab
                color="indigo"
              >
                <v-icon>mdi-google-glass</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="pink"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="teal"
              >
                <v-icon>mdi-google-maps</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="orange"
              >
                <v-icon>mdi-food</v-icon>
              </v-btn>
              <v-card-text>
                I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-timeline-item>
      <v-timeline-item
        color="red lighten-1"
        fill-dot
        icon=" mdi-silverware-variant"
      >
        <v-card>
          <v-card-title>
            Namikiyabusoba
          </v-card-title>
          <v-card-text>
            2 minute walk from Asakusa Station
          </v-card-text>
          <v-card-actions>
            <v-btn
              text
            >
              EDIT
            </v-btn>
            <v-btn
              text
              color="purple"
            >
              CHANGE
            </v-btn>
            <v-spacer />
            <v-btn
              icon
              @click="show_03 = !show_03"
            >
              <v-icon>{{ show_03 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="show_03">
              <v-divider />
              <v-img
                src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Soba_restaurant_by_Naixn_in_Asakusa%2C_Tokyo.jpg"
                height="200px"
              />
              <v-btn
                icon
                fab
                color="indigo"
              >
                <v-icon>mdi-google-glass</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="pink"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="teal"
              >
                <v-icon>mdi-google-maps</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="orange"
              >
                <v-icon>mdi-food</v-icon>
              </v-btn>
              <v-card-text>
                I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-timeline-item>
      <v-timeline-item
        color="green lighten-1"
        fill-dot
        icon="mdi-map-marker"
      >
        <v-card>
          <v-card-title>
            Tokyo Sky Tree
          </v-card-title>
          <v-card-text>
            2 minute walk from Oshiage Station
          </v-card-text>
          <v-card-actions>
            <v-btn
              text
            >
              EDIT
            </v-btn>
            <v-btn
              text
              color="purple"
            >
              CHANGE
            </v-btn>
            <v-spacer />
            <v-btn
              icon
              @click="show_04 = !show_04"
            >
              <v-icon>{{ show_04 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="show_04">
              <v-divider />
              <v-img
                src="https://cdn.pixabay.com/photo/2017/07/12/08/16/nature-of-tokyo-skytree-2496153_960_720.jpg"
                height="200px"
              />
              <v-btn
                icon
                fab
                color="indigo"
              >
                <v-icon>mdi-google-glass</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="pink"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="teal"
              >
                <v-icon>mdi-google-maps</v-icon>
              </v-btn>
              <v-btn
                icon
                fab
                color="orange"
              >
                <v-icon>mdi-food</v-icon>
              </v-btn>
              <v-card-text>
                I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
  <div v-else>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      />
    </v-overlay>
  </div>
</template>
<script>
export default {
  data: () => ({
    isVisible: false,
    show_01: false,
    show_02: false,
    show_03: false,
    show_04: false,
    overlay: false
  }),
  watch: {
    overlay (val) {
      val && setTimeout(() => {
        this.overlay = false
        this.isVisible = true
      }, 3000)
    }
  },
  created () {
    this.overlay = true
  }
}
</script>
