<template>
  <div id="app">
    <!-- 認証済みの時はメインの画面を表示 -->
    <div v-if="signedIn">
      <v-app id="nav">
        <Header
          :username="username"
          class="header"
          @toggleChange="toggleChange"
        />
        <v-content>
          <v-container fluid>
            <router-view />
          </v-container>
        </v-content>
        <Footer
          class="footer"
        />
      </v-app>
    </div>
    <!-- 認証していない時はログイン画面を表示 -->
    <div v-else>
      <amplify-authenticator
        align="center"
        justify="center"
      />
    </div>
    <div
      class="drawer-mask"
      :class="{ open: isOpen }"
    />
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { AmplifyEventBus } from 'aws-amplify-vue'
import Header from './components/Header'
import Footer from './components/Footer'

window.LOG_LEVEL = 'VERBOSE'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  },
  data () {
    return {
      signedIn: false,
      username: '',
      isOpen: false
    }
  },
  async beforeCreate () {
    // Auth.currentAuthenticatedUser()でユーザ情報を取得する。
    // 取得できなければ認証ステータスをfalseに設定する
    try {
      const cognitoUser = await Auth.currentAuthenticatedUser()
      this.signedIn = true
      this.username = cognitoUser.username
    } catch (err) {
      this.signedIn = false
    }
    // 認証ステータスが変わった時に呼び出されるイベントを登録
    AmplifyEventBus.$on('authState', async info => {
      if (info === 'signedIn') {
        const cognitoUser = await Auth.currentAuthenticatedUser()
        this.signedIn = true
        this.username = cognitoUser.username
      } else {
        this.signedIn = false
      }
    })
  },
  methods: {
    /* MENU，CLOSEボタンを押下時のクラス名変更処理 */
    toggleChange (bool) {
      this.isOpen = bool
    }
  }
}
</script>

<style scoped>
/* カルーセル画面幅いっぱい表示 */
.container {
  padding: 0 !important;
}
/* MENUオープン時の背景デザイン */
.drawer-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}
.drawer-mask.open {
  display: block;
  z-index: 1;
}
</style>

<style>
/* フッター分メインページのpadding確保 */
.v-content {
  padding: 64px 0px 107px !important;
}
/* 横幅が320px以下の場合に適用するスタイル */
@media (max-width: 800px) {
  .v-content {
    padding: 56px 0px 107px !important;
  }
}
</style>
